{% extends "base.html" %}
{% block content %}
    <form action="{% url 'query' %}" method="post">
        {% csrf_token %}
        {% for field in queryform.visible_fields %}
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}
        {% for field in queryform.hidden_fields %}
            <div class="form-group row">
                {{ field }}
            </div>
        {% endfor %}
        <div class="for-group row">
            <button type="submit" class="offset-sm-1 col-sm-2 btn btn-dark" name="train">Query</button>
        </div>
    </form>
{% endblock %}